{{>header}}
<body>
    <div class="container">
        
            <div class="texts">
                <h2>Welcome</h2>
                <p>Fill out the form to register an account with us. Enjoy the benefits of being a member.</p>
            </div>
            <div class="registration-form">
                
                <form method="post" action="/register">
                    <h2>User Registration</h2>
                    <div id="grid">
                        <div class="col1">
                            <label for="first-name">First Name:</label>
                            <input type="text" id="first-name" name="firstname" required>
    
                            <label for="last-name">Last Name:</label>
                            <input type="text" id="last-name" name="lastname" required>
    
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>

                            <p class="gender-para">Gender:</p>
                            <div class="section-radio">
                                <input type="radio" id="male" name="gender" value="male" required>
                                <label for="male">male</label>
                        
                                <input type="radio" id="female" name="gender" value="female" required>                            
                                <label for="female">female</label>
                            </div>

                        </div>
    
                        <div class="col2">
                            <label for="mobile">Mobile:</label>
                            <input type="tel" id="mobile" name="mobile" required placeholder="minimum 10 digits">

                            <label for="dob">Date of Birth:</label>
                            <input type="date" id="dob" name="dob" required >
    
                             <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required>

                            <label for="confirmPassword">Confirm Password:</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="re enter password"> 
    
                        </div>
                    </div>
                    <div class="button-div">
                        <button type="submit" value="register">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
