body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 50%;
    height: auto;
    background-color: #f65d04;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 2rem 0;
}

.left-column, .right-column {
    padding: 20px;
    width: 40%;
    box-sizing: border-box;
}

.left-column {
    background-color: #FFD700; /* Yellow background */
    color: #000000; /* Black text */
}

.left-column h2 {
    margin-bottom: 20px;
}

.right-column {
    background-color: #000000; /* Black background */
    color: #FFD700; /* Yellow text */
}

.registration-form h2 {
    margin-bottom: 20px;
    color: #FFD700; /* Yellow text */
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    color: #FFD700; /* Yellow text */
}

.registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #FFD700; /* Yellow border */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #1a1a1a; /* Darker background */
    color: #FFD700; /* Yellow text */
}

.registration-form input::placeholder {
    color: #FFD700; /* Yellow placeholder text */
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #FFD700; /* Yellow background */
    border: none;
    border-radius: 4px;
    color: #000000; /* Black text */
    font-size: 16px;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #e6b800; /* Darker yellow */
}
